.container {
  margin: auto;
  overflow: hidden;
}

header {
  .noscroll { position: fixed; overflow-y:scroll }


}

#navbar ul li {
  width: 180px;
  height: 5px;
  margin-bottom: 5px;
  padding-top: 30px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

#navbar ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  display: block;
  padding-top: 0px;
  min-height: px;
  margin-right: 35px;
}

#navbar ul li a:hover {
  border-bottom: 3px solid black;
  border-top: 1px solid black;
  cursor: pointer;
}